.sidebar{
    // background-color: lightcoral;
    flex: 1;
    border-right: 0.5px solid rgb(230,227, 227);
    min-height: 100vh;

    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            font-size: 20px;
            font-weight: bold;
            color: black;
        }
    }
    hr{
        height: 0;
        border: 0.5px solid rgb(230,227, 227);
    }

    .center{
        padding-left: 20px;
    }
}